<% include ../partials/header %>

<div class="container">
  <div class="row justify-content-center align-items-end">
    <div class="col col-sm-10 col-md-7 col-lg-5 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Log in to Passport Demo</h5>
          <form action="/login" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button class="btn btn-primary btn-block">Log In</button>
            <a href="/signup" class="btn btn-secondary btn-block">Sign up a new account</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>