<nav class="navbar navbar-expand-md navbar-dark bg-secondary mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Passport Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/asdf">404</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/error">Error</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if (!currentUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <% } else { %>
        <span class="navbar-text">
          <img src="/static/assets/default.png" alt="Profile Picture" width="25" class="rounded-circle">
          <%= currentUser.fullName %>
        </span>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>