<% include partials/header %>

<div class="container">
  <h1>404 Not Found</h1>
  <p>This is a sample 404 page. It is displayed when the user visits undefined routes.</p>
</div>

<% include partials/footer %>