<% include partials/header %>

<div class="container">
  <h1>500 Internal Server Error</h1>
  <p>This page is displayed when the app encounters an error.</p>
  <p>This page will also display the stack trace on development.</p>

  <% if (errorInfo) { %>
  <h5>Stack trace:</h5>
  <pre><%= errorInfo.stack %></pre>
  <% } %>
</div>

<% include partials/footer %>