<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/static/vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/globals.css">

  <title><%= pageTitle %> - Passport-Local Auth Demo </title>
</head>
<body>
  <% include partials/nav %>
  <% include partials/flash %>

  <%- body %>

  <script src="/static/vendor/jquery-3.4.0/jquery-3.4.0.min.js"></script>
  <script src="/static/vendor/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/globals.js"></script>
</body>
</html>